html {
    scroll-behavior: smooth;
}

.fxbutton1:hover {
    background-color: rgba(0, 97, 255, 0.2);
    filter: opacity(0.8);
    border-bottom: 4px solid #0061FF;
}

.fximg1 {
    transition: border 1s ease;
}

.fximg1:hover {
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.fximg1-width {
    transition: border 1s ease;
}

.fximg1:hover img {
    width: 70%;
}