* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix-left::after {
    content: '';
    display: table;
    clear: left;
}

.width1 { 
    max-width: 1200px;
    margin: auto;
}

.width2 {
    max-width: 800px;
    margin: auto;
}

.width3 {
    max-width: 600px;
    margin: auto;
}

.margintop1 {
    margin-top: 100px;
}

/*
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    z-index: 9999;
}
*/

.topbar-container {
    height: 70px;
    display: flex;
}

.topbar-container > div {
    height: 100%;
    width: calc(100% / 2);
}

.jumbotron-container {
    background-color: #B4D0E7;
}

.jumbotron {
    padding-top: 30px;
}

.sec-left-jumbotron {
    width: 30%;
    float: left;
}

.sec-right-jumbotron {
    width:  70%;
    float: right;
}


.plan-sec1 {
    display: flex;
    justify-content: space-between;
}

.plan-sec1 > div {
    width: 30%;
}

.sec2-container {
    display: flex;
}

.left-sec2 {
    width: 60%;
}

.right-sec2 {
    width: 40%
}


/* Debug body class per layout */

.debug .topbar-container {
    background-color: blue;
}

.debug .topbar-container > div {
    background-color: orange;
    border: 5px solid black;
}

.debug .txt-jumbotron {
    background-color: yellow;
    height: 150px;
}

.debug .sec-left-jumbotron {
    background-color: yellow;
    border: 5px solid black;
    height: 250px;
}

.debug .sec-right-jumbotron {
    background-color: yellow;
    border: 5px solid black;
    height: 320px;
}

.debug .sec1-container .txt1-sec1, .debug .sec1-container .txt2-sec1 {
    background-color: aqua;
    border: 5px solid black;
    height: 100px;
}

.debug .plan-sec1 > div {
    background-color: aqua;
    border: 5px solid black;
    height: 400px;
}

.debug .sec2-container > div {
    background-color: aqua;
    border: 5px solid black;
    height: 250px;
}

